<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- titulo %></title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #C8102E;
    }

    .main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #006341;
    }

    .formulario {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .contForm {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .conBtns {
        margin-top: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }

    button[type="reset"] {
        background-color: #f44336;
    }

    .contSalida {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .encabezado {
        text-align: center;
        margin-bottom: 30px;
    }

    .titulo {
        color: #fff;
        margin: 5px 0;
    }

    .subtitulo {
        color: #777;
        margin: 5px 0;
    }

    .barrabusqueda {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
    }

    .barrabusqueda a {
        text-decoration: none;
        color: white;
        font-size: 25px;

    }

    .barrabusqueda a:hover {
        text-decoration: none;
        color: rgb(126, 209, 156);
    }

    .piedepagina {
        text-align: center;
        margin-top: 50px;
        padding: 10px 0;
        background-color: #333;
        color: #fff;
    }
</style>

<body>

    <div class="main">
        <!--Incluimos el header y el nav-->
        <%- include('partials/header.ejs') %>
            <%- include('partials/nav.ejs') %>

                <div class="formulario">
                    <% if(!isPost){ %>
                        <form action="/" method="post">

                            <div class="contForm">
                                <label for="numDocente">Numero de Docente</label>
                                <input type="number" name="numDocente" id="numDocente" required>
                            </div>

                            <div class="contForm">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" required>
                            </div>

                            <div class="contForm">
                                <label for="domicilio">Domicilio</label>
                                <input type="text" name="domicilio" id="domicilio" required>
                            </div>

                            <div class="contForm">
                                <label for="nivelAca">Nivel</label>
                                <select name="nivelAca" id="nivelAca" type="text" required>
                                    <option value="0">Seleccione el Nivel</option>
                                    <option value="1">Licenciatura o Ingeniería</option>
                                    <option value="2">Maestro en Ciencias</option>
                                    <option value="3">Doctor</option>
                                </select>
                            </div>

                            <div class="contForm">
                                <label for="pagoHr">Pago Hora Base</label>
                                <input type="number" name="pagoHr" id="pagoHr" required>
                            </div>

                            <div class="contForm">
                                <label for="hrImpartidas">Horas Impartidas</label>
                                <input type="number" name="hrImpartidas" id="hrImpartidas" required>
                            </div>

                            <div class="contForm">
                                <label for="numHijos">Numero de hijos</label>
                                <select id="numHijos" type="text" name="numHijos" required>
                                    <option value="3">No tiene</option>
                                    <option value="0">1 o 2 hijos</option>
                                    <option value="1">3 a 5 hijos</option>
                                    <option value="2">5 o mas hijos</option>
                                </select>
                            </div>

                            <div class="conBtns">
                                <button type="submit">Calcular</button>
                                <button type="reset">Limpiar</button>
                            </div>
                        </form>

                        <%} else{ %>
                            <div class="contSalida">
                                <h1>Detalles del Pago</h1>
                                <p>
                                    <b>Pago Por Horas Impartidas:</b>
                                    $<%=pagohrImpartidas%>
                                </p>
                                <p>
                                    <b>Pago por Bono: </b>
                                    $<%=bono%>
                                </p>
                                <p>
                                    <b>Impuestos:</b>
                                     $<%=impuesto%>
                                </p>
                                <p>
                                    <b>Total a Pagar: </b>
                                    $<%=totalAPagar%>
                                </p>
                            </div>
                            <% } %>

                </div>

                <%- include('partials/footer.ejs') %>
    </div>


</body>

</html>